@charset "utf-8";
.Cabecera {
	position: relative;
	display: inline-block;
	text-align: center;
    width: 100%;
    height: 200px;
    background-color: #2AB2FF;
}

.Texto_Aulafacil{
    color: #00FBFF;
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100%;
}
.Texto_Cof{
    color: #00FBFF;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.Munús 
		{
    background-color: #006CFF;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    word-wrap: break-word !important;
    font-family: "open Sans", sans-serif;
	}

a  {
	color:#FFF;
	}

#container{
	margin: 0 auto;
}
p {
	text-align: center;
}
nav {
	margin: 5px auto;
	background-color: #006CFF;
	box-shadow: 0px 3px 20px 3px #006CFF;
}
nav ul  {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	position: relative;
	text-align: center;
	
}
nav ul li{
	display: inline-block;
	background-color: #006CFF;
}
nav a {
	display: block;
	padding: 0 20px;
	color: #FFF;
	font-size: 16px;
	line-height: 50px;
	text-decoration: none;
	
}
nav a:hover {
	background-color: #43EAFF;
}
/* Ocultar menús desplegables de forma predeterminada */
nav ul ul {
	display: none;
	position: absolute;
	top: 50px; /* la altura de la navegación principal */
}
/* Mostrar menús desplegables al pasar el cursor */

nav ul li:hover > ul {
	display: inherit;
}
/* Menú desplegable fisrt Tier */
nav ul ul li{
	width: 190px;
	float: none;
	display: list-item;
	position: relative;
}
/* Segundo, Tercer y más Niveles */
nav ul ul ul li{
	position: relative;
	top: -50px;
	left: 170px;
}
i{
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	margin: -7px 0 0px 7px;
	vertical-align: middle;
}
.right{
	transform: rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	
}
.letf{
	transform: rotate(135deg);
	-webkit-transform:rotate(135deg);
}
.up{
	transform: rotate(-135deg);
	-webkit-transform:rotate(-135deg);
}
.down{
	transform: rotate(45deg);
	-webkit-transform:rotate(45deg);
 }


.Menú_lateral {
    list-style-type: none;
    padding: 0px;
    width: 800px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #006CFF;
}
.menu_vertical {
    width: 200px; /* Set a width if you like */
    background-color: #006CFF;
    color: #FFFFFF;
    float: left;
}

.menu_vertical a {
    background-color: #006CFF; /* Grey background color */
    color: #FCFCFC; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 16px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.menu_vertical a:hover {
  background-color: #43EAFF;
}

.menu_vertical a.active {
    background-color: #5BF108;
    float: left;

}

.Sesion_Publicación {
    width: 82%;
    height: 1400px;
    background-color: #005E93;
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    float: right;

}
*{
    box-sizing: border-box;
    margin-top: px;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin-top:40px;
	margin-left:40%;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #FEFEFE;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}

   
.Pie_página {
    width: 100%;
    float: left;
    height: 140px;
    text-align: center;
    font-size: 16px;
    background-color: #5D49DC;
    margin-top: 5px;
    color: rgba(248,248,248,1.00);
}
#carouselExampleIndicators1 {
}
.carousel-inner .carousel-item .d-block.mx-auto {
    width: 100%;
    height: 5%;
}
.carousel-inner .carousel-item .d-block.mx-auto {
    width: 100%;
    height: 5%;
}

.carousel-inner .carousel-item.active .d-block.mx-auto {
    width: 100%;
    height: 5%;
}
.Cabecera img {
    width: 100%;
    height: 200px;
}
.Menú_lateral .menu_vertical {
    text-align: center;
    color: #F3F3F3;

}
.Sesion_Publicación .Articulo_1 {
    width: 94%;
    height: 450px;
    float: left;
    background-color: #00C3FF;
    margin-left: 20px;
    margin-top: 5px;
}

.Sesion_Publicación .Articulo_1 .texto {
   	color: #FFFAFA;
	text-align:center;
}
.Articulo_1 .texto img {
    top: 0px;	
}
.Sesion_Publicación .Articulo_1 .text1 {
   color:#FFFFFF;
   text-align:justify;
   font-size:12px;
   margin-left:0px;
   width:100%;
   height:50%;
   line-height:20px;
	
}

.Sesion_Publicación .Articulo_2 {
    width: 94%;
    height: 450px;
    float: left;
    background-color: #383434;
    margin-top: 5px;
    margin-right: 20px;
}
.Sesion_Publicación .Articulo_3 {
    width: 94%;
    height: 450px;
    float: left;
    background-color: #00C3FF;
    margin-left: 20px;
    margin-top: 5px;
}

.Sesion_Publicación .Articulo_3 .texto {
   	color: #FFFAFA;
	text-align:center;
}
.Articulo_4 .texto img {
    top: 0px;
}
.Sesion_Publicación .Articulo_3 .text1 {
   color:#FFFFFF;
   text-align:justify;
   font-size:12px;
   margin-left:0px;
   width:100%;
   height:50%;
   line-height:20px;
	
}
.Sesion_Publicación .Articulo_4 {
    width: 94%;
    height: 450px;
    float: left;
    background-color: #00C3FF;
    margin-left: 20px;
    margin-top: 5px;
}

.Sesion_Publicación .Articulo_4 .texto {
   	color: #FFFAFA;
	text-align:center;
}
.Articulo_4 .texto img {
    top: 0px;
}
.Sesion_Publicación .Articulo_4 .text1 {
   color:#FFFFFF;
   text-align:justify;
   font-size:12px;
   margin-left:0px;
   width:100%;
   height:50%;
   line-height:20px;
	
}
.container-boton{
    background-color: #1B6708;
    border: 0.5px solid #fff;
    border-radius: 50px;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    float: left;
    margin-right: 25px;
    margin-top: 15px;
    margin-left: 640px;
}


.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.boton{
	width: 50px;
	transition: ease 1s;
}
@keyframes efecto{
	0%{box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}
}




.fb{
    background-color: #3546FF;
    border: 0.5px solid #fff;
    border-radius: 50px;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    float: left;
    margin-right: 25px;
    margin-top: 15px;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.boton{
	width: 50px;
	transition: ease 1s;
}
@keyframes efecto{
	0%{box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}
}

.yt{
    background-color: #FF0004;
    border: 0.5px solid #fff;
    border-radius: 50px;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    margin-top: 15px;
    float: left;
}
.container-boton:hover{
	transform: scale(1.1);
	transition: 0.3s;
}
.boton{
	width: 50px;
	transition: ease 1s;
}
@keyframes efecto{
	0%{box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}
}

.insta{
    background-color: #F44BFF;
    border: 0.5px solid #fff;
    border-radius: 50px;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
}
.container-boton:hover{
	transform: scale(1.1);
	transition: 0.3s;
}
.boton{
	width: 50px;
	transition: ease 1s;
}
@keyframes efecto{
	0%{box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
	}
	100%{
		box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
	}
}

.twit{
    background-color:#33E0FC;
    border: 0.5px solid #fff;
    border-radius: 50px;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
}
.container-boton:hover{
	transform: scale(1.1);
	transition: 0.3s;
}
.boton{
	width: 50px;
	transition: ease 1s;
}
.Boulevard {
    float: left;
    margin-left: 30px;
}
.Vidas {
    float: left;
    margin-left: 30px;
}
.Mueren {
    float: right;
    margin-right: 30px;
}
body {
	background-color: #7AFFEC;
}